<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cursor</key>
	<string>AnLbRyGBDPn12_sSqlps5Xp9CeIu3EAbQMgtYDoQSyzweJxjSih8zcB4SZz7u5gFAwODDhAzAAA6cAQl</string>
</dict>
</plist>
